@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*, *::before, *::after{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.home{
    min-height:540px;
    min-width:330px;
    width: 100vw;
    height: 85vh;
    background-image: url('../asset/background/blue-shelf-mockup-with-product-presentation3d-rendering.jpg');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeText{
    font-size: large;
}