@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    min-width: 420px;
    background-color: #CCD5AE;
    color: black;
    font-weight: 700;
}

.navLogo{
    padding-left: 50px;
    font-size: x-large;
}

.navLinkContainer, .hideNavLinkContainer{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    align-items: center;
    padding-right: 50px;
}

.navLink{
    color: black;
    font-weight: 400;
    font-size: large;
    padding: 15px;
}

.navLink:hover{
    background-color: aquamarine;
    border-radius: 15px;
}

.menuBtn{
    display: none;
    border: none;
    display: flex;
    align-items: center;
    background-color: #CCD5AE;
    padding-right: 30px;
    cursor: pointer;
}

.menu{
    display: none;
    width: 30px;
    height: 30px;
    background-color: #CCD5AE;
}

.menu:hover{
    background-color: aquamarine;
}

@media(max-width:650px){
    .menu{
        display: block;
    }

    .navLinkContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 5px;
        align-items: center;
        padding: 10px;
        position:absolute;
        top:10vh;
        right:0;
        background-color: #CCD5AE;
        z-index: 2;
    }

    .hideNavLinkContainer{
        display:none;
    }
}

